<!DOCTYPE html>
<html lang="{% block html_lang %}{% endblock html_lang %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

    <title>{% block meta_title %}{% endblock meta_title %}{% block meta_title_site %}{% endblock meta_title_site %}</title>
    <meta title="description" content="{% block meta_description %}{% endblock meta_description %}">
    <meta name="author" content="{% block meta_author %}{% endblock meta_author %}"/>

    {% block extra_head %}{% endblock extra_head %}
  </head>
  <body class="blog">
    {% block body %}{% endblock body %}
    {% block extra_script %}{% endblock extra_script %}
  </body>
</html>
