{% extends 'simpleblog/layout.html' %}
{% load i18n %}
{% load static from staticfiles %}

{% block main_content %}
<article class="blog-entry blog-entry--detail">
  <header>
    <h1>{{ entry.title }}</h2>
    <ul class="blog-entry__info">
      <li class="author"><a href="{% url 'blog_author_view' entry.author.id %}">{{ entry.author.first_name }} {{ entry.author.last_name }}</a></li>
      <li class="pubdate"><time datetime="{{ entry.publication_date|date:"c" }}">{{ entry.publication_date|date:"DATE_FORMAT" }}</time></li>
      <li class="category"><a href="{{ entry.category.get_absolute_url }}">{{ entry.category.name }}</a></li>
    </ul>
  </header>
  <section class="blog-entry__image">
    <img src="{{ entry.image.url }}"/>
  </section>
  <p class="blog-entry__intro">
    {{ entry.intro }}
  </p>
  <section class="blog-entry__content">
    {{ entry.content|safe }}
  </section>
</article>
{% endblock main_content %}
