{% extends 'simpleblog/layout.html' %}

{% load i18n %}
{% load static from staticfiles %}

{% block twitter_account %}{{ twitter_account }}{% endblock twitter_account %}
{% block twitter_title %}{{ entry.seo_title }}{% endblock twitter_title %}
{% block twitter_description %}{{ entry.seo_description }}{% endblock twitter_description %}
{% block twitter_image %}http://{{ site.domain }}{{ entry.image.url }}{% endblock twitter_image %}

{% block og_title %}{{ entry.seo_title }}{% endblock og_title %}
{% block og_url %}http://{{ site.domain }}{{ entry.get_absolute_url }}{% endblock og_url %}
{% block og_image %}http://{{ site.domain }}{{ entry.image.url }}{% endblock og_image %}
{% block og_description %}{{ entry.seo_description }}{% endblock og_description %}
{% block og_site %}{{ facebook_site_name }}{% endblock og_site %}

{% block meta_title %}{{ entry.seo_title }}{{meta_site_name}}{% endblock meta_title %}
{% block meta_description %}{{ entry.seo_description }}{% endblock meta_description %}
{% block meta_author %}{{ meta_author }}{% endblock meta_author %}

{% block main_content %}
<article class="blog-entry blog-entry--detail">
  <header>
    <h1>{{ entry.title }}</h2>
    <ul class="blog-entry__info">
      <li class="author">{% trans "By" %} <a href="{% url 'blog_author_view' entry.author.id %}">{{ entry.author.first_name }} {{ entry.author.last_name }}</a></li>
      <li class="separator">•</li>
      <li class="pubdate"><time datetime="{{ entry.publication_date|date:"c" }}">{{ entry.publication_date|date:"DATE_FORMAT" }}</time></li>
      <li class="separator">•</li>
      <li class="category">{% trans "Category" %}: <a href="{{ entry.category.get_absolute_url }}">{{ entry.category.name }}</a></li>
    </ul>
  </header>
  <section class="blog-entry__image">
    <img src="{{ entry.image.url }}"/>
  </section>
  <p class="blog-entry__intro">
    {{ entry.intro }}
  </p>
  <section class="blog-entry__content">
    {{ entry.content|safe }}
  </section>
  <footer class="blog-entry__sharing">
    {% include "simpleblog/sharing.html" %}
  </footer>
</article>
{% endblock main_content %}
