{% extends 'simpleblog/layout.html' %}
{% load i18n %}

{% block meta_title %}{% if index_title %}{{ index_kind }}: {{ index_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock meta_title %}
{% block blog_subtitle %}{% if index_title %}{{ index_kind }}: {{ index_title }}{% else %}{{ block.super }}{% endif %}{% endblock blog_subtitle %}

{% block main_content %}

{% for entry in entry_list %}
<article class="blog-entry blog-entry--index">
  <header>
    <h1><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h1>
    <ul class="blog-entry__info">
      <li class="author">{% trans "By" %} <a href="{% url 'blog_author_view' entry.author.id %}">{{ entry.author.first_name }} {{ entry.author.last_name }}</a></li>
      <li class="separator">•</li>
      <li class="pubdate"><time datetime="{{ entry.publication_date|date:"c" }}">{{ entry.publication_date|date:"DATE_FORMAT" }}</time></li>
      <li class="separator">•</li>
      <li class="category">{% trans "Category" %}: <a href="{{ entry.category.get_absolute_url }}">{{ entry.category.name }}</a></li>
    </ul>
  </header>
  <section class="blog-entry__image">
    <img src="{{ entry.image.url }}"/>
  </section>
  <p class="blog-entry__intro">
    {{ entry.intro }}
  </p>
  <a class="blog-entry__link" href="{{ entry.get_absolute_url }}">{% trans "Read More" %}</a>
</article>
{% endfor %}

{% block pagination %}
{% if page_obj.has_other_pages %}
<nav class="blog-pagination">
  {% include "simpleblog/pagination.html" %}
</nav>
{% endif %}
{% endblock pagination %}

{% endblock main_content %}
