{% extends 'simpleblog/layout.html' %}
{% load i18n %}

{% block meta_description %}{% if is_category %}{{meta_description}}{% else %}{{ block.super }}{% endif %}{% endblock meta_description %}
{% block meta_title %}{% if is_category %}{{meta_title}}{% elif index_title %}{{ index_type }}: {{ index_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock meta_title %}
{% block blog_subtitle %}{% if index_title %}{{ index_type }}: {{ index_title }}{% else %}{{ block.super }}{% endif %}{% endblock blog_subtitle %}



{% block main_content %}

{% for entry in entry_list %}
<article class="blog-entry blog-entry--index" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <meta name="publisher-{{entry.pk}}" itemprop="publisher" content="{{ meta_author }}">
  <header>
    <h2 itemprop="headline"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>
    <ul class="blog-entry__info">
      <li class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">{% trans "By" %} <a itemprop="url" href="{% url 'blog_author_view' entry.author.id %}"><span itemprop="name">{{ entry.author.first_name }} {{ entry.author.last_name }}</span></a></li>
      <li class="separator">•</li>
      <li class="pubdate"><time itemprop="datePublished" datetime="{{ entry.publication_date|date:"c" }}">{{ entry.publication_date|date:"DATE_FORMAT" }}</time></li>
      <li class="separator">•</li>
      <li class="category" itemprop="articleSection">{% trans "Category" %}: <a href="{{ entry.category.get_absolute_url }}">{{ entry.category.name }}</a></li>
    </ul>
  </header>
  <section class="blog-entry__image" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
    <img itemprop="url" src="{{ entry.image.url }}" alt="{{ entry.title }}"/>
  </section>
  <p itemprop="name" class="blog-entry__intro">
    {{ entry.intro }}
  </p>
  <a itemprop="url" class="blog-entry__link" href="{{ entry.get_absolute_url }}">{% trans "Read More" %}</a>
</article>
{% endfor %}

{% block pagination %}
{% if page_obj.has_other_pages %}
<nav class="blog-pagination">
  {% include "simpleblog/pagination.html" %}
</nav>
{% endif %}
{% endblock pagination %}

{% endblock main_content %}
