{% extends 'simpleblog/base.html' %}
{% load i18n simpleblog_tags %}

{% block body %}

{% block header %}
<header class="blog-header">
  {% block header_content %}
  <h1>{% block blog_title %}{% trans "Blog" %}{% endblock blog_title %}</h1>
  <h2>{% block blog_subtitle %}{% endblock blog_subtitle %}</h2>
  {% endblock header_content %}
</header>
{% endblock header %}

{% block main %}
<main itemscope itemtype="http://schema.org/Blog" class="blog-content">
  {% block main_content %}{% endblock main_content %}
</main>
{% endblock main %}

{% block sidebar %}
<nav class="blog-sidebar">
  {% block sidebar_content %}
  {% last_entries %}
  {% categories_list %}
  {% endblock sidebar_content %}
</nav>
{% endblock sidebar %}

{% block footer %}
<footer class="blog-footer">
  {% block footer_content %}{% endblock footer_content %}
</footer>
{% endblock footer %}

{% endblock body %}
